.nav{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    padding-top: 50px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu{
    display: flex;
    gap: 40px;

    a{
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.btn{
    color: white;
    background: none;
    padding: 16px 38px;
    border: 1px white solid;
    border-radius: 40px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.btns{
    display: flex;
    gap: 40px;
}